*
{
  padding: 0%;
  margin: 0%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .container {
    width: 200;
    padding: 2px 20px;
    background-color: orange;
  }
  
  .price {
    color: darkblue;
    font-size: 22px;
    font-weight: bolder;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  body{
     background-color:rgb(113, 233, 207);
  
  }
 
  
  .card button:hover {
    opacity: 0.7;
  }
  .a:hover
{
   color: rgba(169, 120, 192, 0.884);
   text-decoration: underline;
}
.a 
{
  text-decoration: none;
   margin: auto;
   text-align: center;
   color:white;
   font-size: 20px;
}
.navbar
{
    
        position:fixed;
        background-color:black;    
        width:100%;     
        word-spacing: 100px;
        text-align: center;      
        margin: auto;
}





.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgba(169, 120, 192, 0.884)}

.dropdown:hover .dropdown-content {
  display: block;
}