@media all
{
*
{
    padding: 0%;
    margin: 0%;
}
.main
{
  display: flex;
  flex-direction: column;
}

.main1
{
    background-color: rgba(224, 160, 226, 0.884);
    word-spacing: 5px;
    font-size: 20px;
    font-family: 'Times New Roman';
    font-style: italic;
    display: flex;
    flex-direction: row;
    width: 100%;
  
  }
.second
{
  width: 100%;
}
.second1
{
  animation-name: blink;
  position: relative;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from { color:  rgba(221, 122, 224, 0.884);}
  to {color: black;}
}
.third
{
    text-align: center;
    display: flex;
    flex-direction: row;
    width:100%;
    margin: auto;
    
    
}
.a:hover
{
   color: rgba(169, 120, 192, 0.884);
   text-decoration: underline;
}
.a 
{
  text-decoration: none;
   margin: auto;
   text-align: center;
   color:white;
   font-size: 20px;
}
.navbar
{
    
        position:fixed;
        background-color:black;    
        width:100%;     
        word-spacing: 100px;
        text-align: center;      
        margin: auto;
}





.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgba(169, 120, 192, 0.884)}

.dropdown:hover .dropdown-content {
  display: block;
}

.main2
{
  display: flex;
  flex-direction: row;
  background-color: white;
  text-align: justify;
}
.next
{
  padding: 30px 50px 30px 50px;
  text-align: center;
  font-size: 20px;
}
footer
{
  background-color: rgba(169, 120, 192, 0.884);
  height: 300px;
  text-align: center;
  font-size: 15px;
  word-spacing: 3px;
  padding: 50px 90px 90px 90px;
  font-family: Arial;
}
}